.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  border: #7AB2E5 1px solid;
  background: #00284E;
  border-radius: 10px;
  min-width: 10px;
}

.text-input {
  flex-grow: 1;
  padding: 10px;
  padding-left: 0px;
  min-height: 24px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  background-color: #00284E;
  color: white;
  outline: none;
  font-size: 12px;
  width: 10px;
  max-width: 100%;
}

.text-input::placeholder {
  color: #7AB2E5;
  font-weight: bold;
  min-width: 10px;
}

.text-input-icon {
  border-radius: 10px 0px 0px 10px;
  background-color: #00284E;
  color: #7AB2E5;
  fill: #00284E;
  padding: 10px;
}
